{% load staticfiles %}
{% load tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Detrended Fluctuation Analysis</title>
        <!-- Importing jquery and jquery min javascript files! -->
        <script type="text/javascript" src="{% static 'dfa/jquery/jquery.min.js' %}"></script>
        <!-- -->
        <script type="text/javascript" src="{% static 'dfa/amcharts/core.js' %}"></script>
        <script type="text/javascript" src="{% static 'dfa/amcharts/charts.js' %}"></script>
        <script type="text/javascript" src="{% static 'dfa/amcharts/animated.js' %}"></script>
        <script type="text/javascript" src="{% static 'dfa/graphs.js' %}"></script>
        <!-- Importing bootstrap and custom css files! -->
        <link rel="stylesheet" href="{% static 'dfa/bootstrap/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'dfa/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/dfa.css' %}">
        <link rel="stylesheet" href="{% static 'css/graphs.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>Detrended Fluctuation Analysis</h1>
            </div>

            <div class="top-nav">
                <a href="/">Home</a>
                <a href="/" style="float:right">Login</a>
            </div>

            <div class="content">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </body>
</html>

