/* Box sizing */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}


/* Styling the body */
body {
    font-family: Arial, sans-serif;
    padding: 10px;
    background: #792837;
}


/* Styling the container*/
.container {
    width: 100%;
    margin: 0 auto;
}

/* Styling the content */
.content {
    border-radius: 5px;
    background: white;
    color:black;
}

/* Styling the headers */
.header {
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    background: #533e80;
    color:white;
}

.header h1 {
    font-size: 36px;
}

/* Styling the top navigation bar */
.top-nav {
    border-radius: 5px;
    overflow: hidden;
    background-color: #333333;
}

/* Styling the top-nav links */
.top-nav a {
    border-radius: 5px;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Adding changing color on hover */
.top-nav a:hover {
    border-radius: 5px;
    background-color: #ddd;
    color: black;
}


/* Styling the bootstrap card card-primary */
.card-primary {
    background-color: #533e80;
    padding: 20px;
    color: white;
    margin-top: 20px;
}
